* {
    box-sizing: border-box;
}

body {
    background: url("../images/gray_jean/gray_jean.png");
    /*Background pattern from Toptal Subtle Patterns*/
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#mainheader {
    background:#fff;
    /* margin: 0 0 30px; */
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom:2px solid #ccc;
    width: 100%;
}

#logo {
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 250px;
    height: 90px;
    float: left;
    margin-left: 0;
    line-height: 90px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}

#nav-bar {
    float: right;
    margin-top: 25px;
}

nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}

a:link {color: #999 }
a:hover { color: #C37980; }
a:active { color: #4aaaa5; }

nav a:first-child {
    border-left: 0 none;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: 700;
    color: #4aaaa5;
}

h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}

h3 {
    font-size: 22px;
}

/*about me page*/

#main-container { 
    padding-top: 20px;
    position: relative;
    min-height: calc(100vh - 70px);
}

.main-section {
    background: #fff;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 960px;
    border: 1px solid #ddd;
    overflow: hidden;
}

#profile-photo {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

footer {
    background: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    clear: both;
    font-size: 12px;
}

/* contact page*/

.contact-form {
    padding: 30px;
    line-height: 30px;
    font-size: 18px;
}

::placeholder {
    padding: 10px;
}

#name {
    width: 100%;
    height: 30px;
}

#email {
    width: 100%;
    height: 30px;
}

#message {
    width: 100%;
}

#submit-btn {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
    border: none;
}
#submit-btn:hover {
    background-color:#C37980;
}

/*portfolio-projects page*/

.project {
    width: 274px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20px 0 25px;
}

.project:nth-child(even) {
    margin-right:60px;
}

.project img {
    width: 200px;
    height: 200px;
    width: 100%;
    border: 0 none;
    opacity: .8;
}
.project img:hover {
    outline: 5px solid #C37980;
    outline-offset: 10px;
}

.project h3 {
    border-bottom: 0;
    background: #4aaaa5;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}



@media screen and (max-width:980px) {	
    .container {
        max-width: 900px;
    }
    #main-container {
        max-width: 640px;
        float: left;
        margin-left: 20px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width:768px) {	
    .container {
        max-width: 720px;
    }
    #main-container {
        max-width: 720px;
        margin: 0px 20px 20px 20px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width:640px) {	
    #main-header {
        position: static;
        margin: 0;
    }
    .container {
        max-width: 640px;
    }
    #main-container {
        max-width: 600px;
        margin: 0px 20px 20px 20px;
        padding-bottom: 40px;
    }

    #profile-photo {
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
    }


    #logo {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #nav-bar {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .project:nth-child(even) {
        margin-right: auto;
    }
    
    .project {
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 350px;
        height: auto;
    }

    

}

